# Python files
__pycache__/
*.py[cod]
.venv311/

# Python testing files
.coverage

# Ignore macOS Finder meta
.DS_Store
.tm_properties

# Ignore optional build / cache directory
/build

# Ignore generated resources
/resources/generated
/devutils/i18n-data
